<!DOCTYPE html>
<html>
  <head>
    <title>Hair-Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Dancing+Script|Poppins" rel="stylesheet">
  </head>
  <body>
      #parse( $template )
  </body>
</html>
