<!DOCTYPE html>
<html>
  <head>
    <title>Hair-Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Pacifico|Poppins|Satisfy" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="navbartop">
        <form class="form-group">
            <div class="col-md-8">
                <p id="logoname">Future Salons.</p>
            </div>
            <div class="col-md-4" id="topbuttons">
                <a href="/"><button type="button" name="button" id="link1name" class="btn btn-default">Home.</button></a>
                <a href="#"><button type="button" name="button" id="link2name" class="btn btn-default">Contact Us</button></a>
            </div>
        </form>
    </div>
      #parse( $template )
  </body>
</html>
