<h1>New Stylist</h1>

<form class="form-group" action="/stylists/success" method="post">
  <label for="name">Your name</label>
  <input id="name" type="text" name="name" class="form-control">

  <label for="image">Your Photo</label>
  <input id="image" type="text" name="image" class="form-control">
  <br>
  <button type="submit" name="button" class="btn btn-default">Join.</button>
</form>
